---
layout: page
title: Categories
permalink: /categories/
background: '/img/bg-tag.jpg'

---


<article id="post-preview">
{% for category in site.categories %}
  <div class="post-preview">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <hr class="border-primary border-3 opacity-75"/>
    <!-- <p>Another test, for i don't know what is this</p> -->

    <h4 class="post-meta">{{ category_name }}</h4>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="post-preview">
      <h5 class="post-preview"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h5>
    </article>
    {% endfor %}
  </div>
  <br/>
  <a class="btn btn-primary" href="{{'/' | relative_url }}">home</a>  
  <a class="btn btn-light" href="{{'/posts' | relative_url }}">blog</a>



{% endfor %}
</article>


