---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
</header>

{% include advertising.html %}

  <div class="container">
    <div class="row">
      
      <div class="card" style="width: 15rem; margin: 20px;">
        <img src="/img/bg-tag.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Personal</h5>
          <p class="card-text">Tulisan tentang kegiatan sehari-hari</p>
          <a href="{{"/categories/#Personal" | relative_url }}" class="btn btn-primary">More</a>
        </div>
      </div>
        
      <div class="card" style="width: 15rem; margin: 20px;">
        <img src="/img/bg-about.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Coding</h5>
          <p class="card-text">Tulisan tentang teknologi dan belajar coding</p>
          <a href="{{"/categories/#Coding" | relative_url }}" class="btn btn-primary">More</a>
        </div>
      </div>
    
      <div class="card" style="width: 15rem; margin: 20px;">
        <img src="/img/bg-contact.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Homeschooling</h5>
          <p class="card-text">Tulisan tentang perjalanan keluarga Homeschooling</p>
          <a href="{{"/categories/#Homeschooling" | relative_url }}" class="btn btn-primary">More</a>
        </div>
      </div>

      <div class="card" style="width: 15rem; margin: 20px;">
        <img src="/img/bg-post.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Project</h5>
          <p class="card-text">Kumpulan project yang pernah saya buat</p>
          <a href="{{"/categories/#Project" | relative_url }}" class="btn btn-primary">More</a>
        </div>
      </div>

        {{ content }}    
      
      <div class="col-lg-12 col-md-12 mx-auto">

        <!-- Home Post List -->
        {% for post in site.posts limit : 3 %}
        
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        {% include advertising.html %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
