---
layout: page
title: Kategori
permalink: /categories/
background: '/img/blue-wp.png'

---


<article id="post-preview">
{% for category in site.categories %}
  <div class="post-preview">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <hr class="border-primary border-3 opacity-75"/>

    <h4 class="post-meta">{{ category_name }}</h4>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="post-preview">
      <h5 class="post-preview"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h5>
  </article>
    {% endfor %}
  </div>

  {% include advertising.html %}

  <br/>
  <a class="btn btn-primary rounded-pill" href="{{'/' | relative_url }}">Halaman Awal</a>  
  <a class="btn btn-light rounded-pill" href="{{'/posts' | relative_url }}">Blog</a>



{% endfor %}
</article>


