---
layout: page
title: Hasil Belajar
background: '/img/blue-wp.png'
---

<article class="post-preview"> 
    <h1>Ngoding Setiap Hari</h1>
    <br />
    <p>Belajar berbicara dengan komputer, sama seperti belajar bercakap dengan orang asing. Kadang salah grammar, lupa kosa kata, mikir lama untuk merangkai kalimat.</p>
    <p>Berdasarkan pengalaman prbadi, kemampuan berbahasa baru, akan semakin meningkat jika sering di gunakan.</p>
    <p>Jadi, ini lah hasil belajar saya setiap hari, untuk memperkuat sinapsis baru di bagian bahasa pemrograman.</p>

    {% include advertising.html %}


    <p class="post-preview"> <strong> Hasil belajar 18: 
        <a href="https://ariesan.github.io/animaGram/" target="_blank">AnimaGram</a> </strong> &nbsp; &rarr; 
            Responsive Website yang di bangun dengan menggunakan HTML, CSS, dan Javascript, untuk menampilkan foto-foto binatang lucu nan Narsis.
    </p>  
        <!-- <a href="https://github.com/Ariesan/animaGram" target="_blank">Kode</a> -->
    

    <p class="post-preview"> <strong> Hasil belajar 17: 
        <a href="https://ariesan.github.io/calculator/" target="_blank">Chalk-u-late</a> </strong> &nbsp; &rarr;  
        Kalkulator yang di buat dengan menggunakan logika Javascript, project dari <a href="https://www.theodinproject.com/lessons/foundations-calculator" target="_blank">The Odin Project</a>  
    </p>
        <!-- <a href="https://github.com/Ariesan/calculator" target="_blank">Kode</a> -->
    
    <p class="post-preview"> <strong> Hasil belajar 16: 
        <a href="https://ariesan.github.io/password-generator/" target="_blank">Password Generator</a> </strong> &nbsp; &rarr;  
        Aplikasi untuk membuat Password, ada 4 hasil yang bisa dipilih dan di copy menggunakan Javascript, project dari <a href="https://scrimba.com/learn/learnjavascript" target="_blank">Scrimba</a>  
    </p>
    <!-- <a href="https://github.com/Ariesan/password-generator" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 15: 
        <a href="https://ariesan.github.io/random-quote-machine/" target="_blank">Random Quote</a> </strong> &nbsp; &rarr;  
        Aplikasi yang menyediakan kutipan motivasi, di bangun dengan menggunakan REACT & public API, project dari <a href="https://www.freecodecamp.org/" target="_blank">FreeCodeCamp</a>  
    </p>
    <!-- <a href="https://github.com/Ariesan/random-quote-machine" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 14: 
        <a href="https://ariesan.github.io/snake-game/" target="_blank">Snake Game</a> </strong> &nbsp; &rarr;  
        Permintaan dari anak, untuk bikin permainan ular, di buat dengan Vanilla Javascript
    </p>
    <!-- <a href="https://github.com/Ariesan/snake-game" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 13: 
        <a href="https://ariesan.github.io/rpsGame/" target="_blank">Rock Paper Scissor Game</a> </strong> &nbsp; &rarr;  
        Permainan Gunting, Batu, Kertas, melawan komputer, di buat dengan math.random Javascript, project dari <a href="https://www.theodinproject.com/lessons/foundations-rock-paper-scissors" target="_blank">The Odin Project</a>  
    </p>
    <!-- <a href="https://github.com/Ariesan/rpsGame" target="_blank">Kode</a> -->
    
    <p class="post-preview"> <strong> Hasil belajar 12: 
        <a href="https://ariesan.github.io/Etch-a-sketch/" target="_blank">Sketch on mouse over</a> </strong> &nbsp; &rarr;  
        Menggunakan HTML Canvas untuk membuat sketsa menggunakan mouse, project dari <a href="https://www.theodinproject.com/lessons/foundations-etch-a-sketch" target="_blank">The Odin Project</a> 
        untuk melatih DOM Manipulation dengan Javascript. <em>Sebaiknya di buka dari komputer, karena tidak responsive.</em>
    </p>
    <!--<a href="https://github.com/Ariesan/Etch-a-sketch" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 11: 
        <a href="https://ariesan.github.io/conversionAPP/" target="_blank">Conversion App</a> </strong> &nbsp; &rarr;  
        Aplikasi untuk membuat menghitung perbedaan antara Metric dan Imperial, project dari <a href="https://scrimba.com/learn/learnjavascript" target="_blank">Scrimba</a>  
    </p>
    <!-- <a href="https://github.com/Ariesan/conversionAPP" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 10: 
        <a href="https://ariesan.github.io/visitor_counter/" target="_blank">Mall visitor counter</a> </strong> &nbsp; &rarr;  
        Aplikasi untuk menghitung banyaknya orang yang mengunjungi sebuah pusat perbelanjaan, project dari <a href="https://scrimba.com/learn/learnjavascript" target="_blank">Scrimba</a>  
    </p>
    <!--  <a href="https://github.com/Ariesan/visitor_counter" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 9: 
        <a href="https://ariesan.github.io/loading-page/" target="_blank">Blurry Loading Page</a> </strong> &nbsp; &rarr;  
        Menampilkan halaman dengan tampilan blur dengan efek loading dan secara berangsur gambar akan menjadi jelas.
    </p>
    <!-- <a href="https://github.com/Ariesan/loading-page" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 8: 
        <a href="https://ariesan.github.io/change_color_bg/" target="_blank">Random Background Color</a> </strong> &nbsp; &rarr;  
        Belajar memanipulasi DOM dengan Javascript, agar setiap user menekan tombol, warna latar belakang akan berganti secara acak.
    </p>
    <!-- <a href="https://github.com/Ariesan/change_color_bg" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 7: 
        <a href="https://ariesan.github.io/unschooling-guide/" target="_blank">Unschooling Guide</a> </strong> &nbsp; &rarr;  
        Belajar memanipulasi DOM dengan Javascript, agar setiap user menekan tombol, warna latar belakang akan berganti secara acak.
    </p>
    <!-- <a href="https://github.com/Ariesan/unschooling-guide" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 6: 
        <a href="https://codepen.io/ariesan/full/zYEeWYB" target="_blank">Personal Portfolio</a> </strong> &nbsp; &rarr;  
        Personal Portfolio menggunakan HTML, CSS, dan sedikit Javascript, project untuk dapat sertifikat dari <a href="https://www.freecodecamp.org/" target="_blank">FreeCodeCamp</a>  
    </p>

    <p class="post-preview"> <strong> Hasil belajar 5: 
        <a href="https://ariesan.github.io/landing-pages/" target="_blank">Landing Page</a> </strong> &nbsp; &rarr;  
        Simple landing page menggunakan CSS Flexbox, project dari <a href="https://www.theodinproject.com/lessons/foundations-landing-page" target="_blank">The Odin Project</a>  
    </p>
    <!-- <a href="https://github.com/Ariesan/landing-pages" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 4: 
        <a href="https://codepen.io/ariesan/full/MWEmEdq" target="_blank">Survey Form</a> </strong> &nbsp; &rarr;  
        Formulir untuk mengumpulkan data menggunakan HTML & CSS, project untuk dapat sertifikat dari <a href="https://www.freecodecamp.org/" target="_blank">FreeCodeCamp</a>  
    </p>

    <p class="post-preview"> <strong> Hasil belajar 3: 
        <a href="https://ariesan.github.io/contact-form/" target="_blank">Contact Form</a> </strong> &nbsp; &rarr;  
        Formulir kontak yang di buat menggunakan bootstrap dan formsubmit untuk mengatasi tidak adanya backend.
    </p>
    <!-- <a href="https://github.com/Ariesan/contact-form" target="_blank">Kode</a> -->

    <p class="post-preview"> <strong> Hasil belajar 2: 
        <a href="https://codepen.io/ariesan/full/RwLpYZE" target="_blank">Tribute Page</a> </strong> &nbsp; &rarr;  
        Satu halaman web, di buat sebagai penghormatan untuk bapak Unschooling, di bangun mengunakan HTML & CSS, project untuk dapat sertifikat dari <a href="https://www.freecodecamp.org/" target="_blank">FreeCodeCamp</a>  
    </p>

    <p class="post-preview"> <strong> Hasil belajar 1: 
        <a href="https://ariesan.github.io/odin-recipes//" target="_blank">My Favorite Recipes</a> </strong> &nbsp; &rarr;  
        Website pertama yang saya buat, setelah 2 minggu belajar HTML & CSS di <a href="https://www.theodinproject.com/lessons/foundations-recipes" target="_blank">The Odin Project.</a> 
        <br/>Tidak indah dan tidak responsive, namun tetap akan saya taruh disini, sebagai pengingat dan bagian dari proses belajar saya, dari tidak bisa menjadi bisa.
    </p>

</article>

{% include advertising.html %}

<br />
<hr />
<a class="btn btn-dark btn-block rounded-pill" href="{{'/' | relative_url }}" style="color: white;">Kembali ke halaman awal</a>  
<a class="btn btn-primary btn-block rounded-pill" href="{{'/posts' | relative_url }}">Lihat blog</a>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
