---
layout: page
title: Hasil Belajar
background: '/img/blue-wp.png'
---

<article class="post-preview"> 
    <h1>Ngoding Setiap Hari</h1>
    <br />
    <p>Belajar berbicara dengan komputer, sama seperti belajar bercakap dengan orang asing. Kadang salah grammar, lupa kosa kata, mikir lama untuk merangkai kalimat.</p>
    <p>Berdasarkan pengalaman prbadi, kemampuan berbahasa baru, akan semakin meningkat jika sering di gunakan.</p>
    <p>Jadi, ini lah hasil belajar saya setiap hari, untuk memperkuat sinapsis baru di bagian bahasa (pemrograman).</p>

    {% include advertising.html %}


    <h5 class="post-preview">Hari ke 18: 
        <a href="https://ariesan.github.io/animaGram/" target="_blank">Cute Animal</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/animaGram" target="_blank">Kode</a>
    </h5>

    <h5 class="post-preview">Hari ke 17: 
        <a href="https://ariesan.github.io/calculator/" target="_blank">Chalk-u-late</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/calculator" target="_blank">Kode</a>
    </h5>

    <h5 class="post-preview">Hari ke 16: 
        <a href="https://ariesan.github.io/password-generator/" target="_blank">Password Generator</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/password-generator" target="_blank">Kode</a>
    </h5>

    <h5 class="post-preview">Hari ke 15: 
        <a href="https://ariesan.github.io/random-quote-machine/" target="_blank">Random Quote</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/random-quote-machine" target="_blank">Kode</a>
    </h5>

    <h5 class="post-preview">Hari ke 14: 
        <a href="https://ariesan.github.io/snake-game/" target="_blank">Snake Game</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/snake-game" target="_blank">Kode</a>
    </h5>
    
    <h5 class="post-preview">Hari ke 13: 
        <a href="https://ariesan.github.io/rpsGame/" target="_blank">Rock Paper Scissor Game</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/rpsGame" target="_blank">Kode</a>
    </h5>
    
    <h5 class="post-preview">Hari ke 12: 
        <a href="https://ariesan.github.io/Etch-a-sketch/" target="_blank">Sketch on mouse over</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/Etch-a-sketch" target="_blank">Kode</a>
    </h5>

    <h5 class="post-preview">Hari ke 11: 
        <a href="https://ariesan.github.io/conversionAPP/" target="_blank">Conversion App</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/conversionAPP" target="_blank">Kode</a>
    </h5>

    <h5 class="post-preview">Hari ke 10: 
        <a href="https://ariesan.github.io/visitor_counter/" target="_blank">Mall visitor counter</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/visitor_counter" target="_blank">Kode</a>
    </h5>

    <h5 class="post-preview">Hari ke 9: 
        <a href="https://ariesan.github.io/loading-page/" target="_blank">Blurry Loading Page</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/loading-page" target="_blank">Kode</a>
    </h5>
    
    <h5 class="post-preview">Hari ke 8: 
        <a href="https://ariesan.github.io/BlobsGame/" target="_blank">Blobs Gaje</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/BlobsGame" target="_blank">Kode</a>
    </h5>
    
    <h5 class="post-preview">Hari ke 7: 
        <a href="https://ariesan.github.io/unschooling-guide/" target="_blank">Unschooling Guide</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/unschooling-guide" target="_blank">Kode</a>
    </h5>

    <h5 class="post-preview">Hari ke 6: 
        <a href="https://codepen.io/ariesan/full/zYEeWYB" target="_blank">Personal Portfolio</a>
    </h5>

    <h5 class="post-preview">Hari ke 5: 
        <a href="https://ariesan.github.io/landing-pages/" target="_blank">Landing Page</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/landing-pages" target="_blank">Kode</a>
    </h5>

    <h5 class="post-preview">Hari ke 4: 
        <a href="https://codepen.io/ariesan/full/MWEmEdq" target="_blank">Survey form</a>
    </h5>

    <h5 class="post-preview">Hari ke 3: 
        <a href="https://ariesan.github.io/contact-form/" target="_blank">Contact form</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/contact-form" target="_blank">Kode</a>
    </h5>

    <h5 class="post-preview">Hari ke 2: 
        <a href="https://codepen.io/ariesan/full/RwLpYZE" target="_blank">Tribute Page</a>
    </h5>

    <h5 class="post-preview">Hari ke 1: 
        <a href="https://ariesan.github.io/change_color_bg/" target="_blank">Random Background Color</a> &nbsp; &rarr;  
        <a href="https://github.com/Ariesan/change_color_bg" target="_blank">Kode</a>
    </h5>

</article>

{% include advertising.html %}

<br />
<hr />
<a class="btn btn-primary btn-block" href="{{'/' | relative_url }}" style="color: white;">Kembali ke halaman awal</a>  
<a class="btn btn-light btn-block" href="{{'/posts' | relative_url }}">Lihat blog</a>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
